.sidebar{
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
  /* background-color: rgba(0,0,0,0.1); */
  background-color: #4a7594;
  padding-left: 1rem;
}

.sidebar .menu-item p{
  color: white;
}

.sidebar .sub-menu-item p{
  color: white;
}

.user-menubar .menu-item {
  display: flex;
  text-align: center;
  padding-top: 25px;
  height: 60px;
  color: #4a7594;
  width: 100%;
}

.user-menubar .sub-menu-item {
  display: flex;
  text-align: center;
  height: 60px;
  color: #4a7594;
  width: 100%;
}

.user-menubar .sub-menu-item p {
  display: flex;
  text-align: center;
  height: 60px;
  color: #4a7594;
  margin-left: 10px;
}

.user-menubar .menu-item svg {
  font-size: 24px;
}

.user-menubar .menu-item p {
  font-size: 18px;
  margin-left: 25px;
}

.user-menubar .menu-item.active {
  background-color: #4a7594;
  color: #fff !important;
  width: 100%;
}