.card-head7{
    background-color: #5baaf4;
}

.card-head5{
    background-color: #59759e;
}

.card-head8{
    background-color:#898bd1;
}


.total-head{
    font-size: 20px;
    font-weight: bold;
}

.total-no{
    font-weight:normal;
    font-size: 15px;
}