
.button-arrow1 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 25px;
    margin-left: 40px;
    cursor: pointer;
    margin: 10px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
    /* font-size: 100px; */
    border-radius: 20px;
    align-items: center;
    line-height: 76px;
  }
  
  .button-arrow i {
    margin-left: 10px;
  }
  
  .button-arrow:hover {
    transform: translateX(5px);
    box-shadow: 4px 4px 12px rgba(0,0,0,0.3);
  }
  